<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/camisetasDesplegable.css">
    <title>Campus Shop</title>
</head>
<body>
    <header id="home" class="header__logo">
        <img src="../storage/img/logo.png" alt="logo">
    </header>
    <nav class="nav">
        <a>
            <h1>Home</h1>
        </a>
        <a>
            <h1>Camisetas</h1>
        </a>
        <a>
            <h1>Pantalones</h1>
        </a>
        <a>
            <h1>Busos</h1>
        </a>
        <a>
            <h1>Gorras</h1>
        </a>
        <a>
            <h1>Pantalonetas</h1>
        </a>
        <a>
            <h1>Producto 7</h1>
        </a>
        <a>
            <h1>Producto 8</h1>
        </a>
        <a>
            <h1>Producto 9</h1>
        </a>
        <a>
            <h1>Producto 10</h1>
        </a>
        <a>
            <h1>Producto 11</h1>
        </a>
        <a>
            <h1>Producto 12</h1>
        </a>
        <a>
            <h1>Producto 13</h1>
        </a>
        <a>
            <h1>Producto 14</h1>
        </a>
        <a>
            <h1>Producto 15</h1>
        </a>
        <a>
            <h1>Producto 16</h1>
        </a>
        <a>
            <h1>Producto 17</h1>
        </a>
        <a>
            <h1>Producto 18</h1>
        </a>
        
    </nav>
    <main id="camisetas" class="main">
        <aside class="main__aside">
            <div class="main__aside__img">
                <img src="../storage/img/camiseta1.webp" alt="camiseta1">
            </div>
            <div class="main__aside__img">
                <img src="../storage/img/camiseta2.webp" alt="camiseta2">
            </div>
            <div class="main__aside__img">
                <img src="../storage/img/camiseta3.webp" alt="camiseta3">
            </div>
            <div class="main__aside__img">
                <img src="../storage/img/camiseta4.webp" alt="camiseta4">
            </div>
        </aside>
        <article class="main__article">
            <img src="../storage/img/camiseta5.webp" alt="camiseta5"></img>
        </article>
        <section class="section">
            <div class="section__title">
                <h1>Camisetas</h1>
            </div>
            <div class="section__stars">
                <img src="../storage/img/star.png" alt="star">
                <img src="../storage/img/star.png" alt="star">
                <img src="../storage/img/star.png" alt="star">
                <img src="../storage/img/star.png" alt="star">
                <img src="../storage/img/vaciaStar.png" alt="vaciaStar">
            </div>
            <div class="section__content">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, necessitatibus quod at obcaecati molestias corporis, quia explicabo inventore voluptas facilis velit, eos perferendis. Corporis voluptates sed inventore provident impedit assumenda.Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem voluptas eligendi corporis! Praesentium itaque vero ex esse quaerat, possimus, ea libero dignissimos nemo ipsam in? Minus hic sequi quia odit.</p>
            </div>
            <div class="section__prices">
                <h1>$100.000</h1>
                <h2>$90.000</h2>
            </div>
            <div class="section__button">
                <button>Obtener</button>
            </div>
        </section>
    </main>
    <section class="pop__Up">
        <header class="pop__Up__header">
            <a href="../Index.html"><img src="../storage/img/x.png" alt="x"></a>
        </header>
        <div class="pop__Up__img">
            <img src="../storage/img/camiseta5.webp" alt="camiseta5">
        </div>
        <div class="pop__Up__title">
            <h1>Camisetas</h1>
        </div>
        <div class="pop__Up__Stars">
            <img src="../storage/img/star.png" alt="star">
            <img src="../storage/img/star.png" alt="star">
            <img src="../storage/img/star.png" alt="star">
            <img src="../storage/img/star.png" alt="star">
            <img src="../storage/img/vaciaStar.png" alt="vaciaStar">
        </div>
        <div class="pop__Up__Content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In natus quos, iure aspernatur architecto minima consequatur voluptate optio perferendis enim. Mollitia nihil quisquam delectus qui tempora sed unde laboriosam consequuntur.......</p>
        </div>
        <div class="pop__Up__Prices">
            <h1>$100.000</h1>
            <h2>$90.000</h2>
        </div>
        <div class="pop__Up__cant">
            <input type="text" placeholder="Cantidad">
            <a href=""><button>Agregar</button></a>
        </div>
    </section>
</body>
</html>